<!-- <mat-card class="cardWithShadow theme-card"> 
    <mat-card-header>
      <mat-card-title class="m-b-0">Add Event</mat-card-title>
      <div class="alert alert-success">Success message here</div>
      <div class="alert alert-danger">Error message here</div>
    </mat-card-header>
  
    <mat-card-content class="b-t-1">
      <form>
        <div class="row">
         Title 
          <div class="col-lg-6">
            <mat-label class="m-b-8 d-block">Title</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Your title" />
              <mat-error>Title is required</mat-error>
            </mat-form-field>
          </div>
  
           Start Date 
          <div class="col-lg-6">
            <mat-label class="m-b-8 d-block">Start Date</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Select start date" />
              <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
              <mat-datepicker></mat-datepicker>
              <mat-error>Start date is required</mat-error>
            </mat-form-field>
          </div>
  
         Description 
          <div class="col-lg-6">
            <mat-label class="m-b-8 d-block">Description</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Your description" />
              <mat-error>Description is required</mat-error>
            </mat-form-field>
          </div>
  
           End Date 
          <div class="col-lg-6">
            <mat-label class="m-b-8 d-block">End Date</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput placeholder="Select end date" />
              <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
              <mat-datepicker></mat-datepicker>
              <mat-error>End date is required</mat-error>
            </mat-form-field>
          </div>
  
           Event Image 
          <div class="col-lg-6">
            <mat-label class="m-b-8 d-block">Event Image</mat-label>
            <input type="file" />
          </div>
  
         Allowed Radius 
          <div class="col-lg-6">
            <mat-label class="m-b-8 d-block">Allowed Radius (meters)</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Enter allowed radius" type="number" />
              <mat-error>Radius is required</mat-error>
            </mat-form-field>
          </div>
  
          Map 
          <div class="col-lg-12">
            <mat-label class="m-b-8 d-block">Location</mat-label>
            <div id="map" style="height: 300px; width: 100%; border: 1px solid #ccc; margin-bottom: 10px;"></div>
          </div>
  
          Latitude 
          <div class="col-lg-6">
            <mat-label class="m-b-8 d-block">Latitude</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Enter latitude" />
              <mat-error>Latitude is required</mat-error>
            </mat-form-field>
          </div>
  
    Longitude 
          <div class="col-lg-6">
            <mat-label class="m-b-8 d-block">Longitude</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Enter longitude" />
              <mat-error>Longitude is required</mat-error>
            </mat-form-field>
          </div>
  
   Button Location 
          <div class="col-lg-12">
            <button mat-flat-button color="primary">Use Current Location</button>
          </div>
        </div>
  
    Buttons 
        <div class="m-t-12">
          <button mat-flat-button color="warn" class="m-r-8" type="button">Cancel</button>
          <button mat-flat-button color="primary" type="submit">Create</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
   -->